# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.kitchencli.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\dirty\ws\cloudkitchens\kitchencli\.idea\.idea.kitchencli\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
